@{
    ViewBag.Title = "Contact";
}



    <li class="span4">
        <div class="thumbnail">
            <div class="caption">
                <h3>راه های تماس با </h3>
                <h2>هادی مفتوحی</h2>
                <p>موبایل : 09227257590</p>
                <p>ایمیل : maftohi3@gmail.com</p>
              
            </div>
        </div>
    </li>


